{
  "arrowParens": "always",
  "bracketSpacing": true,
  "endOfLine": "lf",
  "printWidth": 80,
  "proseWrap": "preserve",
  "quoteProps": "consistent",
  "semi": true,
  "singleQuote": false,
  "useTabs": false
}
