doctype html
html
  head
    link(rel="stylesheet" href="css/style.css")
    title Live Coding Train Poll
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js")
  body
    h1 Create poll
