div#views
  hr
  h3 View options
  ul
    li
      input(type="checkbox" id="font-toggle")
      label(for="font-toggle") Use simplier font
    li
      input(type="checkbox" id="gradient-toggle")
      label(for="gradient-toggle") Disable gradients
    li
      input(type="checkbox" id="overlay-toggle")
      label(for="overlay-toggle") Overlay View

  script.

    // checkboxes
    let fontToggle = document.querySelector('#font-toggle');
    let gradientToggle = document.querySelector('#gradient-toggle');

    // do not cache so because controls are removed when activating
    // refresh page to bring back controls
    let overlayToggle = document.querySelector('#overlay-toggle');

    // initial state from localStorage
    fontToggle.checked = localStorage.getItem('font-simple') == 'true';
    gradientToggle.checked = localStorage.getItem('no-gradient') == 'true';
    changeGradient(gradientToggle.checked);
    changeFonts(fontToggle.checked);


    // input handlers
    fontToggle.oninput = function() {
      localStorage.setItem('font-simple', fontToggle.checked);
      changeFonts(fontToggle.checked);
    };

    gradientToggle.oninput = function() {
      localStorage.setItem('no-gradient', gradientToggle.checked);
      changeGradient(gradientToggle.checked);
    };

    overlayToggle.oninput = function() {
      changeView(overlayToggle.checked);
    };

    // toggle font by switching the variable in css
    function changeFonts(simple) {
      if (simple)
      document.documentElement.style.setProperty('--codingtrain-fontface', 'Open Sans');
      else
      document.documentElement.style.setProperty('--codingtrain-fontface', 'cubanoregular');
    }


    // remove gradient by removing or adding the correct class to the progress bar
    function changeGradient(off) {
      if (off)  {
        let elements = document.getElementsByClassName('progressBar');
        for (let element of elements) {
          element.classList.remove('gradient')
        }
      } else {
        let elements = document.getElementsByClassName('progressBar');
        for (let element of elements) {
          element.classList.add('gradient')
        }
      }
    }

    function changeView(overlay) {
      if (overlay) {
        //set the background to semi-transperant white
        document.body.style.background = "rgba(255,255,255,50%)"
        //remove view links in overlay view
        document.querySelector("div#views").remove();
      } else {
        //set the background to white white
        document.body.style.background = "rgba(255,255,255)"
      }
    }
