doctype html
html
  head
    link(rel="stylesheet" href="css/style.css")

    title Live Coding Train Poll
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js")
  body
    h1 Currently Active Polls
    if polls.length
      ul
        each poll in polls
          li
            a(href=`/poll/${poll._id}`)=`${poll.question}`
            br
            span(class="date")=`Created on: ${new Date(poll.timestamp).toDateString()}`
      a(href="/create") Create a Poll
    else
      p No Polls Found!
      a(href="/create") Create One Here
    include footer.pug

