doctype html
html
  head
    link(rel="stylesheet" href="/css/style.css")
    title Live Coding Train Poll
    script(src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.3/socket.io.min.js")
  body
    h1=poll.question
    div#results
      each val, index in poll.options
        div.option
          div= val
          div(id="progressBar_" + index class="progressBar")
    p#totalVotes

      script(src="/js/classes/poll.js")
      script(src="/js/sketches/poll.js")
      include footer.pug
