doctype html
html
  head
    title Live Coding Train Poll
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="css/qrcode.css")
    script(src="/js/qrcode.js")

  body
    h1 The Coding Train Live Poll
    h2 QR-Code to newest Poll
    h3.qr-question=question
    div#placeHolder
    template(data-pollurl=pollURL)

  script.
      var typeNumber = 4;
      var errorCorrectionLevel = 'L';
      var qr = qrcode(typeNumber, errorCorrectionLevel);
      var pollURL = document.querySelector('[data-pollurl]').dataset.pollurl;
      qr.addData(pollURL);
      qr.make();
      document.querySelector('#placeHolder').innerHTML = qr.createImgTag(5, 5);
