/* put create poll page styles here */
#main-create textarea, input {
    font-family: inherit;
}

#main-create .options input, textarea {
    font-size: 16px;
    position: relative;
    margin-bottom: 0.2em;
    width: 300px;
    padding: 0.5em 1em;
    border: 1px solid lightblue;
    border-radius: 5px;
    left: 50%;
    transform: translate(-50%);
}

#main-create textarea {
    font-size: 20px;
    height: 80px;
}

#main-create button {
    font-size: 20px;
    position: relative;
    width: 300px;
    height: 40px;
    margin-top: 2em;
    background-color: var(--submit-button);
    cursor: pointer;
    border-radius: 8px;
    left: 50%;
    transform: translate(-50%) scale(1);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    transition: box-shadow 200ms ease,
                scale 200ms ease;
}


#main-create button:hover {
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    transform: translate(-50%) scale(1.02);
}
