/* poll results */
body {
  background: transparent !important;
}

#poll-result-main {
  width: calc(100% - 40px);
  text-align: left;
  max-width: 600px;
}

#poll-result-main h1 {
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#poll-result-main h2 {
  margin: 0px 0px 2px 0px;
  font-size: 18px;
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#poll-result-main .option {
  position: relative;
  height: 32px;
  background-color: rgba(0, 0, 0, 0.3);
  margin-bottom: 4px;
}

#poll-result-main .bar-title {
  position: absolute;
  display: inline;
  right: 0;
  font-size: 20px;
  font-family: var(--codingtrain-fontface);
  color: white;
  margin: 3px 12px 2px 0px;
  text-transform: uppercase;
  z-index: 2;
}

.progressBar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: rgb(32, 145, 170);
  transition: width 1s ease, background-color 1s ease;
}

.leading {
  background-color: rgb(50, 168, 82);
}

.progressBar p {
  position: absolute;
  width: 200px;
  top: 0;
  font-size: 20px;
  margin: 3px 0px 2px 12px;
  color: white;
  font-family: var(--codingtrain-fontface);
}

#totalVotes {
  margin: 3px 6px 2px 10px;
  font-size: 20px;
  font-family: var(--codingtrain-fontface);
  color: white;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 1);
}

#footer {
  display: none;
}
