@font-face {
    font-family: "cubanoregular";
    src: url("https://thecodingtrain.com/assets/fonts/cubano-regular-webfont.woff2");
}
:root {
    --codingtrain-fontface: "cubanoregular";
    --gradient: linear-gradient(90deg, red, yellow, green, blue, violet);
    --monochrome-gradient: repeating-linear-gradient(60deg, #A42963, #A42963 10px, #F063A4 10px, #F063A4 20px);
    --no-gradient: black;
    --progressbar-color: white;
}

/* main */
html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}
body {
    font-family: "Open Sans";
    width: calc(100% - 40px);
    margin: 10px;
}

h1, h2, button, .question, #total-votes { 
    font-family: var(--codingtrain-fontface); 
}
h1::before { content: "🚂 "; }
h1::after  { content: " 🌈"; }

/* do we need this? */
main { width: min-content; }