@font-face {
    font-family: "cubanoregular";
    src: url("https://thecodingtrain.com/assets/fonts/cubano-regular-webfont.woff2");
}

html,
body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
}

body {
    font-family: "Open Sans";
    width: calc(100% - 40px);
    margin: 10px;
}

h1::before { content: "🚂 "; }
h1::after  { content: " 🌈"; }

h1,
button,
#total-votes,
.question {
    font-family: var(--codingtrain-fontface);
}

#results {
    width: calc(100% - 20px);
}

.progressBar {
    margin: 0 5px 5px 0;
    padding: 5px 20px;
    color: white;
    background: purple;
    transition: width 1s;
    font-family: var(--codingtrain-fontface);
    font-size: larger;
    border-radius: 100px;

}

.gradient {
    background: linear-gradient(90deg, red, yellow, green, blue, violet);
}

main {
    width: min-content;
}

textarea,
input {
    font-family: inherit;
}

#footer {
    position: fixed;
    bottom: 30px;
    width: 50%;
}

#options-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}