/* add styles for the voting page here */
#vote-main #vote {
    position: absolute;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
}

#vote-main h2 {
    position: relative;
    width: 100vw;
    left: 50%;
    transform: translate(calc(-50% - 20px));
}

#vote-main #vote li {
    list-style: none;
}

#vote-main #vote li input {
    visibility: hidden;
    position: absolute;
    overflow: hidden;
    left: -500px;
}

#vote-main .btn-selection label {
    display: inline-block;
    position: relative;
    padding: 0.6em 1em;
    margin: 0.3em 0;
    width: 100%;
    background-color: whitesmoke;
    text-transform: uppercase;
    text-align: center;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    transform: scale(1);
    transition: box-shadow 200ms ease,
                background-color 400ms ease,
                scale 200ms ease,
                color 400ms ease;
}

#vote-main .btn-selection input:checked + label {
    background-color: var(--enabled);
    color: white;
}

#vote-main .btn-selection label:hover, .btn-options input:checked + label:hover {
    box-shadow: 1px 1px 6px rgba(0,0,0,0.5);
    transform: scale(1.02);
}

#vote-main .submit-vote {
    border: 0;
    box-sizing: border-box;
    position: relative;
    padding: 0.4em 1em;
    margin-top: 1em;
    text-transform: uppercase;
    width: 33%;
    font-size: 18px;
    font-family: var(--codingtrain-fontface);
    border-radius: 8px;
    cursor: pointer;
    background-color: var(--submit-button);
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    transition: box-shadow 300ms ease,
                background-color 300ms ease;
}