@font-face {
    font-family: "cubanoregular";
    src: url("https://thecodingtrain.com/assets/fonts/cubano-regular-webfont.woff2");
}
body {
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    background-color: rgb(0,255,0);
    height: 100vh;
    margin: 0px;
    padding: 0px;
}
h1 {
    font-family: "cubanoregular";
}
h1::before{
    content: "🚂";
}
h1::after{
    content: "🌈";
}
main{
    width: min-content;
}
