@font-face {
  font-family: "cubanoregular";
  src: url("https://thecodingtrain.com/assets/fonts/cubano-regular-webfont.woff2");
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  background-color: rgb(0, 255, 0);
  height: 100vh;
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

h1, h2 {
  font-family: "cubanoregular";
}

h1::before {
  content: "🚂";
}

h1::after {
  content: "🌈";
}

/* 
.add {

} 
*/

.optionsContainer {
  flex-direction: column;
  display: flex;
}

.option {
  display: flex;
}

textarea, input {
  font-family: inherit;
}